swagger: '2.0'
info:
  description: This is the mParticle Event Server
  version: 1.0.0
  title: mParticle
  termsOfService: 'http://www.mparticle.com'
  contact:
    email: support@mparticle.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: s2s.mparticle.com
basePath: /v2
tags:
  - name: events
    description: Send your data to the mParticle platform.
schemes:
  - https
consumes:
  - application/json
produces:
  - text/html
  - application/json
paths:
  /events:
    post:
      tags:
        - events
      summary: Send events to mParticle
      description: ''
      operationId: uploadEvents
      parameters:
        - in: body
          name: body
          description: Batch of event data
          required: true
          schema:
            $ref: '#/definitions/Batch'
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request - malformed JSON or required fields missing.
          schema:
            $ref: '#/definitions/ApiResponse'
          examples:
            application/json:
              errors:
                - code: BAD_REQUEST
                  message: Required event field "event_type" is missing or empty.
        '401':
          description: Unauthorized - authentication missing or invalid
        '403':
          description: Forbidden - API key/secret are present but not valid
        '429':
          description: Too many requests - rate limiting is being applied
        '503':
          description: Service unavailable - the message should be retried after a back off
  /bulkevents:
    post:
      tags:
        - events
      summary: Send events to mParticle
      description: ''
      operationId: bulkUploadEvents
      parameters:
        - in: body
          name: body
          description: Up to 100 Batch objects
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Batch'
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request - malformed JSON or required fields missing.
          schema:
            $ref: '#/definitions/ApiResponse'
          examples:
            application/json:
              errors:
                - code: BAD_REQUEST
                  message: Required event field "event_type" is missing or empty.
        '401':
          description: Unauthorized - authentication missing or invalid
        '403':
          description: Forbidden - API key/secret are present but not valid
        '429':
          description: Too many requests - rate limiting is being applied
        '503':
          description: Service unavailable - the message should be retried after a back off
securityDefinitions:
  basic:
    type: basic
    description: HTTP basic authentication requiring an mParticle API key and secret
security:
  - basic: []
definitions:
  Batch:
    required:
      - environment
    type: object
    additionalProperties: false
    properties:
      events:
        type: array
        items:
          $ref: '#/definitions/EventBase'
      source_request_id:
        type: string
      environment:
        type: string
        enum:
          - production
          - development
      ip:
        type: string
      schema_version:
        type: integer
      device_info:
        $ref: '#/definitions/DeviceInformation'
      application_info:
        $ref: '#/definitions/ApplicationInformation'
      user_attributes:
        type: object
        additionalProperties:
          type: string
      deleted_user_attributes:
        type: array
        items:
          type: string
      user_identities:
        $ref: '#/definitions/UserIdentities'
  ApiResponse:
    type: object
    properties:
      errors:
        type: array
        items:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  UserIdentities:
    type: object
    additionalProperties: false
    properties:
      other:
        type: string
      customer_id:
        type: string
      facebook:
        type: string
      twitter:
        type: string
      google:
        type: string
      microsoft:
        type: string
      yahoo:
        type: string
      email:
        type: string
      alias:
        type: string
      facebook_custom_audience_id:
        type: string
  EventBase:
    type: object
    properties:
      data:
        $ref: '#/definitions/EventData'
      event_type:
        type: string
        enum:
          - unknown
          - session_start
          - session_end
          - screen_view
          - custom_event
          - crash_report
          - opt_out
          - first_run
          - pre_attribution
          - push_registration
          - application_state_transition
          - push_message
          - network_performance
          - breadcrumb
          - profile
          - push_reaction
          - commerce_event
    required:
      - data
      - event_type
  EventData:
    type: object
    properties:
      timestamp_unixtime_ms:
        type: integer
      event_id:
        type: integer
      source_message_id:
        type: string
      session_id:
        type: integer
      session_uuid:
        type: string
      custom_attributes:
        type: object
        additionalProperties:
          type: string
      location:
        $ref: '#/definitions/GeoLocation'
      device_current_state:
        $ref: '#/definitions/DeviceCurrentState'
  DeviceInformation:
    type: object
    additionalProperties: false
    properties:
      brand:
        type: string
      product:
        type: string
      device:
        type: string
      android_uuid:
        type: string
      device_manufacturer:
        type: string
      platform:
        type: string
        enum:
          - Unknown
          - iOS
          - Android
          - tvOS
      os_version:
        type: string
      device_model:
        type: string
      screen_height:
        type: integer
      screen_width:
        type: integer
      screen_dpi:
        type: integer
      device_country:
        type: string
      locale_language:
        type: string
      locale_country:
        type: string
      network_country:
        type: string
      network_carrier:
        type: string
      network_code:
        type: string
      network_mobile_country_code:
        type: string
      timezone_offset:
        type: integer
      build_identifier:
        type: string
      http_header_user_agent:
        type: string
      ios_advertising_id:
        type: string
      push_token:
        type: string
      cpu_architecture:
        type: string
      is_tablet:
        type: boolean
      push_notification_sound_enabled:
        type: boolean
      push_notification_vibrate_enabled:
        type: boolean
      radio_access_technology:
        type: string
      supports_telephony:
        type: boolean
      has_nfc:
        type: boolean
      bluetooth_enabled:
        type: boolean
      bluetooth_version:
        type: string
      ios_idfv:
        type: string
      android_advertising_id:
        type: string
  ApplicationInformation:
    type: object
    additionalProperties: false
    properties:
      application_name:
        type: string
      application_version:
        type: string
      install_referrer:
        type: string
      package:
        type: string
  AttributionInfo:
    type: object
    additionalProperties: false
    properties:
      service_provider:
        type: string
      publisher:
        type: string
      campaign:
        type: string
    required:
      - service_provider
      - publisher
      - campaign
  SourceInformation:
    type: object
    additionalProperties: false
    properties:
      channel:
        type: string
        enum:
          - unknown
          - native
          - javascript
          - pixel
          - desktop
          - partner
          - server_to_server
          - All
      partner:
        type: string
      replay_request_id:
        type: string
      replay_job_id:
        type: string
    required:
      - channel
      - partner
  AppEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          custom_event_type:
            type: string
            enum:
              - unknown
              - navigation
              - location
              - search
              - transaction
              - user_content
              - user_preference
              - social
              - other
          event_name:
            type: string
          media_info:
            $ref: '#/definitions/MediaInfo'
        required:
          - custom_event_type
          - event_name
  MediaInfo:
    type: object
    additionalProperties: false
    properties:
      action:
        type: string
        enum:
          - unknown
          - play
          - stop
          - update_playback_position
          - skip
          - rate
      channel:
        type: string
      metadata:
        type: string
      timed_metadata:
        type: string
      playback_position:
        type: number
      format:
        type: string
        enum:
          - unknown
          - audio
          - video
      quality:
        type: string
        enum:
          - unknown
          - low
          - sd
          - medium
          - hd
          - ultra_hd
      playback_rate:
        type: number
  GeoLocation:
    type: object
    additionalProperties: false
    properties:
      latitude:
        type: number
      longitude:
        type: number
      accuracy:
        type: number
    required:
      - latitude
      - longitude
  DeviceCurrentState:
    type: object
    properties:
      time_since_start_ms:
        type: integer
      battery_level:
        type: number
      data_connection_type:
        type: string
      data_connection_type_detail:
        type: string
      gps_state:
        type: boolean
      total_system_memory_usage_bytes:
        type: integer
      disk_space_free_bytes:
        type: integer
      cpu:
        type: string
      system_memory_available_bytes:
        type: number
      system_memory_low:
        type: boolean
      system_memory_threshold_bytes:
        type: number
      application_memory_available_bytes:
        type: number
      application_memory_max_bytes:
        type: number
      application_memory_total_bytes:
        type: number
      device_orientation:
        type: string
        enum:
          - unknown
          - portrait
          - portrait_upside_down
          - landscape
          - LandscapeLeft
          - LandscapeRight
          - FaceUp
          - FaceDown
          - Square
      status_bar_orientation:
        type: string
        enum:
          - unknown
          - portrait
          - portrait_upside_down
          - landscape
          - LandscapeLeft
          - LandscapeRight
          - FaceUp
          - FaceDown
          - Square
  ApplicationStateTransitionEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          successfully_closed:
            type: boolean
          is_first_run:
            type: boolean
          is_upgrade:
            type: boolean
          push_notification_payload:
            type: string
          application_transition_type:
            type: string
            enum:
              - unknown
              - application_initialized
              - application_exit
              - application_background
              - application_foreground
        required:
          - application_transition_type
  BreadcrumbEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          session_number:
            type: integer
          label:
            type: string
        required:
          - session_number
          - label
  CommerceEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          product_action:
            $ref: '#/definitions/ProductAction'
          promotion_action:
            $ref: '#/definitions/PromotionAction'
          product_impressions:
            type: array
            items:
              $ref: '#/definitions/ProductImpression'
          shopping_cart:
            $ref: '#/definitions/ShoppingCart'
          currency_code:
            type: string
          screen_name:
            type: string
          is_non_interactive:
            type: boolean
  ProductAction:
    type: object
    additionalProperties: false
    properties:
      action:
        type: string
        enum:
          - unknown
          - add_to_cart
          - remove_from_cart
          - checkout
          - checkout_option
          - click
          - view_detail
          - purchase
          - refund
          - add_to_wishlist
          - remove_from_wish_list
      checkout_step:
        type: integer
      checkout_options:
        type: string
      product_action_list:
        type: string
      product_list_source:
        type: string
      transaction_id:
        type: string
      affiliation:
        type: string
      total_amount:
        type: number
      tax_amount:
        type: number
      shipping_amount:
        type: number
      coupon_code:
        type: string
      products:
        type: array
        items:
          $ref: '#/definitions/Product'
    required:
      - action
      - transaction_id
      - total_amount
      - products
  Product:
    type: object
    additionalProperties: false
    properties:
      id:
        type: string
      name:
        type: string
      brand:
        type: string
      category:
        type: string
      variant:
        type: string
      position:
        type: integer
      price:
        type: number
      quantity:
        type: number
      coupon_code:
        type: string
      added_to_cart_time_ms:
        type: integer
      total_product_amount:
        type: number
      custom_attributes:
        type: object
        additionalProperties:
          type: string
    required:
      - id
      - name
      - price
      - total_product_amount
  PromotionAction:
    type: object
    additionalProperties: false
    properties:
      action:
        type: string
        enum:
          - unknown
          - view
          - click
      promotions:
        type: array
        items:
          $ref: '#/definitions/Promotion'
    required:
      - action
      - promotions
  Promotion:
    type: object
    additionalProperties: false
    properties:
      id:
        type: string
      name:
        type: string
      creative:
        type: string
      position:
        type: string
    required:
      - id
      - name
      - creative
      - position
  ProductImpression:
    type: object
    additionalProperties: false
    properties:
      product_impression_list:
        type: string
      products:
        type: array
        items:
          $ref: '#/definitions/Product'
    required:
      - product_impression_list
      - products
  ShoppingCart:
    type: object
    additionalProperties: false
    properties:
      products:
        type: array
        items:
          $ref: '#/definitions/Product'
    required:
      - products
  CrashReportEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          breadcrumbs:
            type: array
            items:
              $ref: '#/definitions/BreadcrumbEvent'
          class_name:
            type: string
          severity:
            type: string
          message:
            type: string
          stack_trace:
            type: string
          exception_handled:
            type: boolean
          topmost_context:
            type: string
          pl_crash_report_file_base64:
            type: string
          ios_image_base_address:
            type: integer
          ios_image_size:
            type: integer
          session_number:
            type: integer
        required:
          - class_name
          - message
          - stack_trace
          - exception_handled
  FirstRunEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
  NetworkPerformanceEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          http_verb:
            type: string
          url:
            type: string
          time_elapsed:
            type: integer
          bytes_in:
            type: integer
          bytes_out:
            type: integer
          response_code:
            type: integer
          data:
            type: string
        required:
          - http_verb
          - url
          - time_elapsed
          - bytes_in
          - bytes_out
          - response_code
  OptOutEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          is_opted_out:
            type: boolean
        required:
          - is_opted_out
  ProfileEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          profile_name:
            type: string
          previous_profile_name:
            type: string
          profile_event_type:
            type: string
            enum:
              - unknown
              - signup
              - login
              - logout
              - update
              - delete
        required:
          - profile_name
          - previous_profile_name
          - profile_event_type
  PushMessageEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          push_message_token:
            type: string
          push_message_type:
            type: string
            enum:
              - unknown
              - sent
              - received
              - action
          message:
            type: string
          network:
            type: string
          push_notification_payload:
            type: string
          application_state:
            type: string
            enum:
              - unknown
              - not_running
              - background
              - foreground
          action_identifier:
            type: string
        required:
          - push_message_token
          - push_message_type
          - push_notification_payload
          - application_state
  PushRegistrationEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          register:
            type: boolean
          registration_token:
            type: string
        required:
          - register
          - registration_token
  ScreenViewEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          screen_name:
            type: string
          activity_type:
            type: string
        required:
          - screen_name
  SessionEndEvent:
    allOf:
      - $ref: '#/definitions/EventData'
      - type: object
        properties:
          session_duration_ms:
            type: integer
        required:
          - session_duration_ms
  SessionStartEvent:
    allOf:
      - $ref: '#/definitions/EventData'